MODEL:
  NAME: TAda2D
VIDEO:
  BACKBONE:
    DEPTH: 50
    META_ARCH: ResNet3D
    NUM_FILTERS: [64, 256, 512, 1024, 2048]
    NUM_INPUT_CHANNELS: 3
    NUM_OUT_FEATURES: 2048
    KERNEL_SIZE: [
      [1, 7, 7],
      [1, 3, 3],
      [1, 3, 3],
      [1, 3, 3],
      [1, 3, 3]
    ]
    DOWNSAMPLING: [true, true, true, true, true]
    DOWNSAMPLING_TEMPORAL: [false, false, false, false, false]
    NUM_STREAMS: 1
    EXPANSION_RATIO: 4
    INITIALIZATION: kaiming
    STEM:
      NAME: Base2DStem
    BRANCH:
      NAME: TAdaConvBlockAvgPool
      ROUTE_FUNC_K: [3, 3]
      ROUTE_FUNC_R: 4
      POOL_K: [3, 1, 1]
    NONLOCAL:
      ENABLE: false
      STAGES: [5]
      MASK_ENABLE: false
  HEAD:
    NAME: BaseHead
    ACTIVATION: softmax
    DROPOUT_RATE: 0
    NUM_CLASSES:              # !!!
