_BASE_RUN: ../../../pool/run/training/from_scratch.yaml
_BASE_MODEL: ../../../pool/backbone/r2d3ds.yaml

PRETRAIN:
  ENABLE: false
TRAIN:
  ENABLE: true
  DATASET: UCF101
  CHECKPOINT_FILE_PATH: ""
  BATCH_SIZE: 1024
TEST:
  ENABLE: true
  DATASET: UCF101
  BATCH_SIZE: 1024
DATA:
  DATA_ROOT_DIR: /mnt/ziyuan/ziyuan/ucf101/videos/
  ANNO_DIR: /mnt/ziyuan/ziyuan/ucf101/annotations/
VIDEO:
  HEAD:
    NUM_CLASSES: 101
    DROPOUT_RATE: 0.5
OUTPUT_DIR: output/r2d3ds_ucf_from_scratch
NUM_GPUS: 8
  